.Header {
  background-color: white;
  position: fixed;
  top: 0;
  width:100%;
  z-index:1000;
}

.Header-inner{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}

.Header-nav {
  display: inline-flex;
  li {
    margin-right: 1.6rem;
  }

}

.Header-nav-item{
  margin-left: 1.6rem;
  text-decoration:none;
  color:black;
}
