@import './styles/config.mixins';

$container-width-xs: 55rem;
$container-width-sm: 72rem;
$container-width-md: 96rem;
$container-width-lg: 112rem;
$container-width-xl: 128rem;

.App {
  margin: 0 auto;
  padding: 0 1.6rem;
  max-width: $container-width-md;

  @include break(sm) {
    padding: 0 1.6rem;
  }

  @include break(md) {
    padding: 0 2rem;
  }

}
